.card-grid {
  width: 100%;
  //height: 100%;
  font-size: 15px;
  border-radius: .45rem;
  border: 0cm;
  display: inline-block;
  justify-content: space-around;
  outline: none;
  margin: 0; 
  padding: 0;
}

.add-card-show-button {
  display: block;
  margin: 0 auto;
  background-color: white;
  color: black;
  width: 100%;
  //height: 57.4px;
  height: 100%;
  //margin-top: 50%;
  //margin-bottom: 50%;
}