@import './base/_settings';
.card-details {
  height: 30px;
  margin-top: -100%;; 
  font-size: 25px;
  color: rgb(0, 0, 0);
  justify-content: space-around;
  text-align: center;
}
  
  
  .details-from{
  background-color: white;
  }









