@import './base/_settings';

.centralbody {
  width: 100%;
  //height: calc(100% - 61.4px);
  height: 80%;
  margin-bottom: 50px;

  .card-grid {
    width: 100%;
    //height: 100%;
    font-size: 15px;
    border-radius: .45rem;
    border: 0cm;
    display: inline-block;
    justify-content: space-around;
    outline: none;
    margin: 0;
    padding: 0;

    .box-field-1-cliente{
      width: calc(168vw/2.6);
      height: calc(15vw/2.6);

      border-radius: 10px;
      background-color: #ffd64fe0;
      // background: rgb(0,0,0);
      // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
      justify-content: space-around;
      float: left;
      margin: 2%;
      margin-top: 1%;
      margin-bottom: 0%;
      border: 1px solid $greyPerigea;
      // box-shadow: 10px 10px 5px $greyPerigea;

      .card-image{
        height: 65%;
        width: 60%;
        bottom: 0;
        transform: scale(0.13, 1.4) translateX(-240%) translateY(18%);
        border-radius: 50%;
        margin-bottom: 0%;
        background-color:#333333;
        border: 2px solid #333333;
      }

      .view-button {
        // display:block;
        float: left;
        width: calc(10vw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0%;
        margin-left: 24%;
        border-radius: 10px;
        margin-top: 2.4%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }

      .delete-button {
        // display:block;
        float: right;
        width: calc(11avw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0px;
        margin-left: 28%;
        border-radius: 10px;
        margin-top: 2.0%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }
    }

    .box-field-1 {
      width: calc(246vw/2.6);
      height: calc(15vw/2.6);

      border-radius: 10px;
      background-color: #ffd64fe0;
      // background: rgb(0,0,0);
      // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
      justify-content: space-around;
      float: left;
      margin: 2%;
      margin-top: 1%;
      margin-bottom: 0%;
      border: 1px solid $greyPerigea;
      // box-shadow: 10px 10px 5px $greyPerigea;

      .card-image{
        height: 65%;
        width: 60%;
        bottom: 0;
        transform: scale(0.095,1.4) translateX(-310%) translateY(18%);
        border-radius: 50%;
        margin-bottom: 0%;
        background-color:#333333;
        border: 2px solid #333333;
      }

      .view-button {
        // display:block;
        float: left;
        width: calc(10vw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0%;
        margin-left: 27%;
        border-radius: 10px;
        margin-top: 1.4%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }

      .delete-button {
        // display:block;
        float: right;
        width: calc(11avw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0px;
        margin-left: 30%;
        border-radius: 10px;
        margin-top: 1.1%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }
    }

    .box-field-2 {
      width: calc(246vw/2.6);
      height: calc(15vw/2.6);

      border-radius: 10px;
      background-color: $lightGreyPerigea;
      // background: rgb(0,0,0);
      // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
      justify-content: space-around;
      float: left;
      margin: 2%;
      margin-top: 1%;
      margin-bottom: 0%;
      border: 1px solid $greyPerigea;
      // box-shadow: 10px 10px 5px $greyPerigea;

      .card-image{
        height: 65%;
        width: 60%;
        bottom: 0;
        transform: scale(0.095,1.4) translateX(-310%) translateY(18%);
        border-radius: 50%;
        margin-bottom: 0%;
        background-color:#333333;
        border: 2px solid #333333;
      }

      .view-button {
        // display:block;
        float: left;
        width: calc(10vw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0%;
        margin-left: 27%;
        border-radius: 10px;
        margin-top: 1.4%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }

      .delete-button {
        // display:block;
        float: right;
        width: calc(11avw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0px;
        margin-left: 30%;
        border-radius: 10px;
        margin-top: 1.1%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }
    }

    .box-field-2-cliente {
      width: calc(168vw/2.6);
      height: calc(15vw/2.6);

      border-radius: 10px;
      background-color: $lightGreyPerigea;
      // background: rgb(0,0,0);
      // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
      justify-content: space-around;
      float: left;
      margin: 2%;
      margin-top: 1%;
      margin-bottom: 0%;
      border: 1px solid $greyPerigea;
      // box-shadow: 10px 10px 5px $greyPerigea;

      .card-image{
        height: 65%;
        width: 60%;
        bottom: 0;
        transform: scale(0.13, 1.4) translateX(-240%) translateY(18%);
        border-radius: 50%;
        margin-bottom: 0%;
        background-color:#333333;
        border: 2px solid #333333;
      }

      .view-button {
        // display:block;
        float: left;
        width: calc(10vw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0%;
        margin-left: 24%;
        border-radius: 10px;
        margin-top: 2.4%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }

      .delete-button {
        // display:block;
        float: right;
        width: calc(11avw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0px;
        margin-left: 28%;
        border-radius: 10px;
        margin-top: 2.0%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }
    }

    .searchBar {
      margin-top: 1%;
      margin-left: 65%;
      width: 30%;
      height: 50%;
      border: 1px solid $greyPerigea;
      border-radius: 10%;

      .searchForm {
        display: flex;
        justify-content: left;
        height: 55px;
        width: 100%;
        margin-top: 1%;
        margin-left: 5%;

      }
    }

    .showSpecificSearchesButton:hover {
      background-color: $orangePerigea;
      color: $greyPerigea;
    }

    .add-field-show-button {
      border-radius: 10px;
      font-size: calc(3.5vw/3.5);
      font-weight: bolder;
      cursor: pointer;
      display: block;
      border: transparent;
      background-color: transparent;
      color: $greyPerigea;
      width: 10;
      float: left;
      margin-left: 2%;
      height: 10%;
      margin-top: 0%;
      justify-content: space-around;
      padding: 1.5%;
      .menu{
        width: 50px;
        height: 50px;
      }
    }

    .add-field-show-button:hover {
      background-color: transparent;
      color: black;
     
    }

    .add-card-show-button {
      border-radius: 10%;
      font-size: calc(5vw/3.5);
      font-weight: bolder;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      background-color: white;
      color: black;
      width: 100%;
      border: 2px $greyPerigea solid;
      //height: 57.4px;
      height: 100%;
      text-rendering: auto;

      //margin-top: 50%;
      //margin-bottom: 50%;
    }

    .add-card-show-button:hover {
      background-color: $lightGreyPerigea;
      color: $greyPerigea;
      font-weight: bold;
    }


    .corpo {
      width: 100%;
      height: 80%;
      // display: inline-block;
    }

    .box-card {
      width: calc(72vw/3.5);
      height: calc(75vw/2.6);
      margin: calc(70vw/50);
      border-radius: 10%;
      background-color: #ffd64fe0;
      // background: rgb(0,0,0);
      // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
      justify-content: space-around;
      float: left;
      margin: 2%;
      margin-top: 7%;
      border: 1px solid transparent;
      box-shadow: 10px 10px 5px $lightGreyPerigea;

      .card-image{
        height: 65%;
        width: 60%;
        bottom: 0;
        transform: scale(0.16, 1.4) translateX(-192%) translateY(18%);
        border-radius: 50%;
        margin-bottom: 0%;
        background-color:#333333;
        border: 2px solid #333333;
      }

      .view-button {
        // display:block;
        float: left;
        width: calc(10vw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0%;
        margin-left: -20%;

        border-radius: 10px;
        margin-top: 1.5%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }



      .delete-button {
        // display:block;
        float: right;
        width: calc(11avw/3.5);
        height: calc(7vw/2.6);
        font-size: 18px;
        background-color: transparent;
        border-color: transparent;
        color: $orangePerigea;
        font-weight: bolder;
        cursor: pointer;
        margin-bottom: 0px;
        margin-left: -3.5%;
        border-radius: 10px;
        margin-top: 1.2%;
        text-align: center;
        font-size: calc(4.5vw/3.5);
        position: absolute
      }
    }
  }


  .page-titles {

    // background: rgb(0,0,0);
    // background: linear-gradient(0deg, rgb(102, 97, 103) 9%, rgba(0,0,0,1) 100%);
    background-color: $greyPerigea;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -1%;
    margin-bottom: 5%;
  }



  &.open {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
    width: calc(100% - 350px);
    height: 80%;

    .buttonDates {
      position: absolute;
      background-color: transparent;
      color: #f1b126;
      cursor: pointer;
      border: solid transparent 1px;
      bottom: 4%;
      left: 34%;

    }

    .buttonDates:hover {
      background-color: transparent;
      color: black;
      border: solid transparent 1px;
      font-weight: bold;

      
    }

    .page-titles {
      width: 100%;
      // background: rgb(0,0,0);
      // background: linear-gradient(0deg, rgb(102, 97, 103) 9%, rgba(0,0,0,1) 100%);
      background-color: $greyPerigea;
    }

    .card-grid {
      .corpo {
        width: 100%;
      }

      .add-field-show-button {
        border-radius: 10px;
        font-size: calc(3.5vw/3.5);
        font-weight: bolder;
        cursor: pointer;
        display: block;
        background-color: transparent;
        color: $greyPerigea;
        width: 10;
        float: left;
        margin-left: 2%;
        height: 10%;
        margin-top: 2%;
        justify-content: space-around;
        padding: 1.5%;
      }

      .add-field-show-button:hover {
        background-color: transparent;
        color: black;
      }

      .box-field-1-cliente{
        width: calc(127vw/2.6);
        height: calc(15vw/2.6);
  
        border-radius: 10px;
        background-color: #ffd64fe0;
        // background: rgb(0,0,0);
        // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
        justify-content: space-around;
        float: left;
        margin: 2%;
        margin-top: 1%;
        margin-bottom: 0%;
        border: 1px solid $greyPerigea;
        // box-shadow: 10px 10px 5px $greyPerigea;
  
        .card-image{
          height: 65%;
          width: 60%;
          bottom: 0;
          transform: scale(0.16, 1.4) translateX(-192%) translateY(18%);
          border-radius: 50%;
          margin-bottom: 0%;
          background-color:#333333;
          border: 2px solid #333333;
        }
  
        .view-button {
          // display:block;
          float: left;
          width: calc(10vw/3.5);
          height: calc(7vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0%;
          margin-left: 24%;
          border-radius: 10px;
          margin-top: 3.4%;
          text-align: center;
          font-size: calc(4.5vw/3.5);
          position: absolute
        }
  
        .delete-button {
          // display:block;
          float: right;
          width: calc(11avw/3.5);
          height: calc(7vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0px;
          margin-left: 28%;
          border-radius: 10px;
          margin-top: 2.7%;
          text-align: center;
          font-size: calc(4.5vw/3.5);
          position: absolute
        }
      }

      .box-field-2-cliente{
        width: calc(127vw/2.6);
        height: calc(15vw/2.6);
  
        border-radius: 10px;
        background-color: $lightGreyPerigea;
        // background: rgb(0,0,0);
        // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
        justify-content: space-around;
        float: left;
        margin: 2%;
        margin-top: 1%;
        margin-bottom: 0%;
        border: 1px solid $greyPerigea;
        // box-shadow: 10px 10px 5px $greyPerigea;
  
        .card-image{
          height: 65%;
          width: 60%;
          bottom: 0;
          transform: scale(0.16, 1.4) translateX(-192%) translateY(18%);
          border-radius: 50%;
          margin-bottom: 0%;
          background-color:#333333;
          border: 2px solid #333333;
        }
  
        .view-button {
          // display:block;
          float: left;
          width: calc(10vw/3.5);
          height: calc(7vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0%;
          margin-left: 24%;
          border-radius: 10px;
          margin-top: 3.4%;
          text-align: center;
          font-size: calc(4.5vw/3.5);
          position: absolute
        }
  
        .delete-button {
          // display:block;
          float: right;
          width: calc(11avw/3.5);
          height: calc(7vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0px;
          margin-left: 28%;
          border-radius: 10px;
          margin-top: 2.7%;
          text-align: center;
          font-size: calc(4.5vw/3.5);
          position: absolute
        }
      }

      .box-field-1 {
        width: calc(185vw/2.6);
        height: calc(12vw/2.6);

        border-radius: 10px;
        background-color: #ffd64fe0;
        // background: rgb(0,0,0);
        // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
        justify-content: space-around;
        float: left;
        margin: 2%;
        margin-top: 1%;
        margin-bottom: 0%;
        border: 1px solid $greyPerigea;
        // box-shadow: 10px 10px 5px $lightGreyPerigea;

        .card-image{
          height: 65%;
          width: 60%;
          bottom: 0;
          transform: scale(0.095,1.4) translateX(-310%) translateY(18%);
          border-radius: 50%;
          margin-bottom: 0%;
          background-color:#333333;
          border: 2px solid #333333;
        }

        .view-button {
          // display:block;
          float: left;
          width: calc(10vw/3.5);
          height: calc(7vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0%;
          margin-left: 26%;
          border-radius: 10px;
          margin-top: 1.4%;
          text-align: center;
          font-size: calc(4.5vw/3.5);
          position: absolute
        }

        .delete-button {
          // display:block;
          float: right;
          width: calc(11vw/3.5);
          height: calc(7vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0px;
          margin-left: 29%;
          border-radius: 10px;
          margin-top: 1%;
          text-align: center;
          font-size: calc(4.5vw/3.5);
          position: absolute
        }
      }

      .box-field-2 {
        width: calc(185vw/2.6);
        height: calc(12vw/2.6);

        border-radius: 10px;
        background-color: $lightGreyPerigea;
        // background: rgb(0,0,0);
        // background: radial-gradient(circle, #fafafa 9%, #d8ed3c 90%);
        justify-content: space-around;
        float: left;
        margin: 2%;
        margin-top: 1%;
        margin-bottom: 0%;
        border: 1px solid $greyPerigea;
        // box-shadow: 10px 10px 5px $greyPerigea;


        .card-image{
          height: 65%;
          width: 60%;
          bottom: 0;
          transform: scale(0.095,1.4) translateX(-310%) translateY(18%);
          border-radius: 50%;
          margin-bottom: 0%;
          background-color:#333333;
          border: 2px solid #333333;
        }

        .view-button {
          // display:block;
          float: left;
          width: calc(10vw/3.5);
          height: calc(7vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0%;
          margin-left: 26%;
          border-radius: 10px;
          margin-top: 1.4%;
          text-align: center;
          font-size: calc(4.5vw/3.5);
          position: absolute
        }

        .delete-button {
          // display:block;
          float: right;
          width: calc(11vw/3.5);
          height: calc(7vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0px;
          margin-left: 29%;
          border-radius: 10px;
          margin-top: 1%;
          text-align: center;
          font-size: calc(4.5vw/3.5);
          position: absolute
        }
      }

      .box-card {
        width: calc(72vw/3.5);
        height: calc(72vw/2.6);
        margin: calc(70vw/50);
        border-radius: 10%;
        background-color: #ffd64fe0;
        // background: rgb(0,0,0);
        // background: radial-gradient(circle, #fafafa 9%, #333333 90%);
        justify-content: space-around;
        float: left;
        margin: 2%;
        margin-top: 7%;
        border: 1px solid #ffd64fe0;
        box-shadow: 10px 10px 5px $lightGreyPerigea;

        .card-image{
          height: 65%;
          width: 60%;
          bottom: 0;
          transform: scale(0.16, 1.4) translateX(-192%) translateY(18%);
          border-radius: 50%;
          margin-bottom: 0%;
          background-color:#333333;
          border: 2px solid #333333;
        }

        .add-card-show-button {
          border-radius: 10%;

        }

        .view-button {
          // display:block;
          float: left;
          width: calc(10vw/3.5);
          height: calc(6vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0%;
          margin-left: calc(-67vw/3.5);
          border-radius: 10px;
          margin-top: 1%;
          text-align: center;
          position: absolute;


        }

        .delete-button {
          // display:block;
          float: right;
          width: calc(10vw/3.5);
          height: calc(6vw/2.6);
          font-size: 18px;
          background-color: transparent;
          border-color: transparent;
          color: $orangePerigea;
          font-weight: bolder;
          cursor: pointer;
          margin-bottom: 0px;
          margin-left: -5.5%;
          border-radius: 10px;
          margin-top: 0.75%;
          text-align: center;
          position: absolute;

        }
      }
    }
  }

  .button-update {
    display: block;
    float: right;
    width: 40px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    color: $orangePerigea;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 1%;
    text-align: center;
    border: transparent;
    .menu  {
      width: 50px;
      height: 50px;
      margin-left: 5px;
    }
  }

  .button-update:hover {
    background-color: transparent;
    color: black;    
  }

  .userAccordion {
    max-width: 70%;
    margin-left: 16%;
    box-shadow: 10px 10px 5px $lightGreyPerigea;
    border: 1px solid $lightGreyPerigea;
    margin-top: 3.5%;

    .accordionSummary {
      background-color: $orangePerigea;
      font-size: 30%;
      color: $greyPerigea;
      
      .accordion-text{
        font-weight: bold;
      }
    }

    .accordionDetails {
      justify-content: space-around;

      .table-button{
        background-color: transparent;
        margin-left: 30%;
        border: transparent;
      }

      .MuiTextField-root {
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 1%;
      }

      .muiList {
        text-align: center;
        max-width: 80%;
        margin-left: 10%;
      }
    }
  }

  .buttonDates {
    position: absolute;
    background-color: transparent;
    color: #f1b126;
    cursor: pointer;
    border: solid transparent 1px;
    bottom: 1%;
    left: 36%;
  }

  .buttonDates:hover {
    background-color: transparent;
    color: black;
    font-weight: bold;
    border: solid transparent 1px;

 
  }

  .ButtonSave {
    font-size: 130%;
    width: 5%;
    height: 5%;
    float: right;
    font-weight: bold;
    background-color: transparent;
    color: $orangePerigea;
    cursor: pointer;
    border: solid transparent 2px;
    margin-top: 5%;
    margin-right: 5%;

    .menu {
      height: 45px;
      width: 45px;
    }
  }

  .ButtonSave:hover {
    background-color: transparent;
    color: black;
    font-weight: bold;
    border: solid transparent 2px;    
  }

}