@import '../base/_base';

.footer {
  margin-bottom: 0px;
  margin-top: 10%;
  background-color: $greyPerigea;
  height: 57.4px;
  display: inline-block;
  width: 100%;
  left:0;
  bottom:0;
  right:0;
}

.footer-text {
  padding: 10px;
  margin-top: 9px;
  margin-right: 3%;
  font-size: 18px;
  font-weight: lighter;
  color: white;
  text-align: right;
}