@import '../base/_base';

.footer {
  margin-bottom: 0px;
  background-color: $greyPerigea;
  height: 57.4px;
  display: inline-block;
  width: 100%;
  //height: calc(var(--width1) - 10px);
  //position: absolute;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
}

.footer-text {
  padding: 10px;
  margin-top: 9px;
  font-size: 18px;
  font-weight: lighter;
  color: black;
}