@import '../base/_base';

.footer {
  margin-bottom: auto;
  margin-top: auto;
  background-color: $greyPerigea;
  height: 90px;
  display: inline-block;
  position: relative;
  width: 100%;
  // left:0;
  // bottom:0;
  // right:0;
  margin-top: 12.5%;
  border-top-left-radius: 100%;
  
}

.footer-text {
  padding: 10px;
  margin-top: 9px;
  margin-right: 3%;
  font-size: 18px;
  font-weight: lighter;
  color: white;
  text-align: right;
  
}

