.personale {
    height:90%;
  
    h3 {
      height: 50px;
      text-align: left;
      font-family: 'Helvetica', sans-serif;
      color: darkslateblue;
      vertical-align:middle;
      line-height: 50px;
      font-size: 30px;
      margin-left: 3%;     
    }

    h5 {
      height: 35px;
      text-align: left;
      font-family: 'Helvetica', sans-serif;
      color: darkslateblue;
      vertical-align:middle;
      line-height: 50px;
      font-size: 20px; 
      margin-left: 3%
    }
  
    .infoAziendali {
      margin-top: 2%;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 2%;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 2%;
      padding-bottom: 2%;
      width:90%;
      background-color: white;
      border-radius: 10px;
      box-shadow: 10px 10px 5px $greyPerigea;
      border: 1px solid $greyPerigea;
    }
  
    .infoAziendaliGrid {
      margin-left: 30;
      margin-right: 30;
    }
  
    .infoAziendaliForm {
      display:flex;
      justify-content: space-around;
      height:75px;
      width:100%
    }
  
}