$highlight-color: $menuColor  !default;
$submenu-bg-color: $menuColor  !default;
$submenu-bg-color-collapsed: $menuColor  !default;
$backgroundPerigea: $backgroundPerigea;
@import '~react-pro-sidebar/dist/scss/styles.scss';

.sidebar-menu {
  width: 350px;
  position: absolute;
  top: 57.4px;
  left: -350px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  color: rgb(243, 237, 237) !important;

  &.open {
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
    position: fixed;
    height: 100%;
  }
}

.personal-menu {

  float: right;
  position: absolute;
  top: 57.4px;
  left: 88%;
  
  transform: translateX(0) ;
  margin-left: -0.05%;
 

  color: rgb(243, 237, 237) !important;

  .pro-menu {
    height: 0%;

    .pro-sidebar-right {      
      min-width: 0px;
      width: 50%;
      height: 0%;
      transform: translateX(117px) translateY(-120px);;
    
      .pro-sidebar-inner {
        background: #1d1d1d;
        height: 0%;
        position: relative;
        z-index: 101;
        border-bottom-left-radius: 10px;
        width: 100%;

        .pro-sidebar-layout {
          height: 0%;
          overflow-y: auto;
          overflow-x: hidden;
          position: relative;
          display: flex;
          flex-direction: inherit;
          z-index: 101;
          border-bottom-left-radius: 10px;
        }
      }

    }
  }

  &.open {
    -webkit-transform: translateX(350px);
    transform: translateX(0px);
    position: fixed;
    height: 100%;
    margin-left: 0.4%;
   ;

    .pro-menu {
      .pro-sidebar-right {
        -webkit-transform: translateX(117px);
        min-width: 0px;
        width: 72%;
        height: 100vh;;        
        transform: translateX(117px) translateY(0px);

        .pro-sidebar-inner {
          background: #1d1d1d;
          height: 15%;
          position: relative;
          z-index: 101;
          width: 105%;
          border-bottom-left-radius: 100%;

          .pro-sidebar-layout {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
            display: flex;
            flex-direction: inherit;
            z-index: 101;
            border-bottom-left-radius: 10px;
          }
        }
      }
    }
  }
}

.pro-sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: 100vh;
  color: rgb(250, 246, 246) !important;

  &.open {
    width: 30%;
    color: rgb(250, 246, 246) !important;
  }


}

.pro-menu a {
  color: rgb(247, 247, 247) !important;
}

.pro-sidebar-inner {
  width: 350px;
  float: left;
  color: $greyPerigea  !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: 100vh;

  &.open {
    width: 30%;
  }
}

.pro-sidebar-layout {
  // background: rgb(0,0,0);
  // background: linear-gradient(0deg, rgba(75,7,84,1) 9%, rgba(0,0,0,1) 100%);
  background-color: #333333;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: 100vh;

  &.open {
    width: 30%;
  }
}

.img-profile-div {
  text-align: center;
  width: 100%;
  height: 50%;
  margin-bottom: 15%;
}

.img-profile {
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
  width: 50%;
  border-radius: 100%;
}

.pro-item-content {
  color: rgb(250, 246, 246) !important;
  font-weight: bold;
}

a:before {
  color: rgb(252, 244, 244) !important;
  font-weight: bold;
}

.pro-sub-menu {
  .pro-inner-list-item {
    .pro-inner-item::before {
      content: '';
      display: inline-block;
      width: 4px;
      min-width: 4px;
      height: 4px;
      border: 1px solid white;
      border-radius: 50%;
      margin-right: 15px;
      background-color: white;
      box-shadow: 1px 0px 0px white, 0px -1px 0px white, 0px 1px 0px white, -1px 0px 0px white;
    }
  }
}