.text-button{
  display: block;
  text-align: center;
  padding: 10px;
  margin:3px auto;
  width: 20%;
  background-color: $orangePerigea;
  font-family: 'Helvetica', sans-serif;;
  border:2px solid rgb(0, 0, 0);
  border-radius: 20%;
}

.text-button:hover{
  cursor:pointer;
  background-color: $lightGreyPerigea;
  color: black;
  font-weight: bold;
}

@keyframes slideInFromLeft {
  0% {
    width: 0px;
  }
  100% {
    width: 150px;
  }
}



