@import '../base/settings';

.modal-lg {

    .modal-content {

        .modal-header {
            background-color: $orangePerigea;
            font-weight: bold;
            color: #333333;
            border-bottom: 2px solid $greyPerigea;

            .button-close {
                background-color: transparent;
                color: $orangePerigea;
                border: transparent;
                font-weight: bold;
            }

            .button-close:hover {
                background-color: transparent;
                color: $greyPerigea;
                font-weight: bold;
                .menu {
                    width: 40px;
                    height: 35px;
                }
            }
        }

        .modal-footer {
            .modalBackButton {
                border: 1px solid transparent;
                background-color: transparent;
                margin-bottom: -2%;
            }

            .modalDeleteButton {
                border: 1px solid transparent;
                background-color: transparent;
                margin-right: -1%;
                margin-bottom: -1%;
            }
        }

        .modal-body {
            .postStyleProps {
                .modal-text-field {
                    width: 100%;
                }

                .entry-button {
                    background-color: transparent;
                    border: transparent;
                    color: #f1b126;
                    border-radius: 10px;
                    padding: 1%;
                    margin-left: 44%;
                    margin-right: 2%;
                    width: 7%;
                    margin-top: 1%;
                    float: right;

                    .menu {
                        width: 50px;
                        height: 50px;
                    }
                }

                .entry-button:hover {
                    background-color: transparent;
                    color: #333333;
                    font-weight: bold;

                    .menu {
                        width: 55px;
                        height: 55px;
                    }
                }

                .modal-delete-button {
                    cursor: pointer;
                    background-color: transparent;
                    color: #f1b126;
                    border: solid transparent 1px;
                    margin-top: 2%;
                    margin-left: 3%;
                    margin-bottom: 0%;
                    border-radius: 10px;
                    padding: 1%;

                    .menu {
                        width: 35px;
                        height: 35px;
                    }

                }

                .modal-delete-button:hover {
                    background-color: transparent;
                    color: white;
                    font-weight: bold;

                    .menu {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .modal-remove-button {
                cursor: pointer;
                background-color: transparent;
                color: #333333;
                border: transparent;
                margin-top: 5%;
                margin-left: 0%;
                margin-right: 4%;
                margin-bottom: 0%;
                border-radius: 10px;
                padding: 1.5%;
                width: 11%;
                font-weight: bold;
                float: left;

                .menu {
                    width: 40px;
                    height: 40px;
                }
            }

            .modal-remove-button:hover {
                background-color: transparent;
                color: white;
                font-weight: bold;

                .menu {
                    width: 45px;
                    height: 45px;
                }
            }

            .modal-generic-button {
                background-color: transparent;
                color: #333333;
                font-weight: bold;
                border-radius: 10px;
                padding: 1.5%;
                float: right;
                margin-right: 0%;
                margin-top: 5%;
                border: transparent;

                .menu {
                    width: 40px;
                    height: 40px;
                }
            }

            .modal-generic-button:hover {
                background-color: transparent;
                color: black;

                .menu {
                    width: 45px;
                    height: 45px;
                }

            }
        }
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    border-radius: 10px;
    padding: 0%;

    .col-sm-6.col-md-6.col-lg-6 {
        .page-title {
            text-align: left;
            font-family: 'Helvetica', sans-serif;
            color: $greyPerigea;
            vertical-align: middle;
            font-size: 22px;
            margin-left: 0%;
            margin-bottom: -0.27%;
            background-color: $orangePerigea;
            padding: 10px;
            display: inline-block;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;
            border: 1px solid $greyPerigea;
            box-shadow: 10px 0.75px 5px $lightGreyPerigea;
            font-weight: bold;
        }
    }


    .card {
        margin-top: 0.1%;
        width: 96.9%;
        height: 99.5%;
        position: relative;
        padding: 0%;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        background-color: white;
        border: 1px solid $greyPerigea;
        border-radius: 10px;
        box-shadow: 10px 10px 5px $lightGreyPerigea;

        .card-body {
            flex: 1 1 auto;
            padding: 0%;
            border: 1px solid $greyPerigea;
            border-radius: 10px;
            border-top-left-radius: 0px;


            .row {
                display: flex;
                flex-wrap: wrap;
                --bs-gutter-x: 0;
                --bs-gutter-y: 0;

                .col-sm-4.col-md-4.col-lg-4 {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 10px;
                    background-color: $whitePerigea;
                    border: 1px solid $greyPerigea;

                    .excel-button {
                        border: 1px solid transparent;
                        background-color: transparent;
                        margin-left: 4%;
                        margin-right: 4%;
                        bottom: 2%;
                        left: 12%;
                        align-self: center;
                        position: absolute;
                    }

                    .excel-button:hover {
                        .menu {
                            width: 40px;
                            height: 35px;
                        }
                    }

                    .add-button {
                        border: 1px solid transparent;
                        background-color: transparent;
                        margin-left: 4%;
                        margin-right: 4%;
                        bottom: 49%;
                        left: 12%;
                        align-self: center;
                        position: absolute;
                        height: 7%;
                        width: 4%;

                        .menu {
                            height: 60px;
                            width: 60px;
                        }
                    }

                    .add-button:hover {
                        .menu {
                            width: 70px;
                            height: 70px;
                        }
                    }

                    .richiesta-button {
                        border: 1px solid transparent;
                        background-color: transparent;
                        margin-left: 0%;
                        margin-right: 0%;
                        bottom: 2%;
                        left: 28%;
                        align-self: center;
                        position: absolute;
                    }
                    .menu {
                        width: 35px;
                        height: 32px;
                    }

                    .richiesta-button:hover {
                        .menu {
                            width: 40px;
                            height: 37px;
                        }
                    }

                    .delete-button {
                        border: 1px solid transparent;
                        background-color: transparent;
                        margin-left: 4%;
                        margin-right: 4%;
                        bottom: 2%;
                        left: 0%;
                        align-self: center;
                        position: absolute;
                    }

                    .delete-button:hover {
                        .menu {
                            width: 40px;
                            height: 35px;
                        }
                    }

                }

                .col-sm-8.col-md-8.col-lg-8 {

                    .fc {
                        display: flex;
                        flex-direction: column;
                        font-size: 100%;
                        width: 100%;
                        margin-left: 0%;
                        border: 1px solid #333333;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        text-decoration: none;

                        .fc-day-today {
                            background-color: rgb(255, 255, 255);
                            border: solid 3px $greyPerigea;

                            .fc-daygrid-day-number {
                                padding: 5%;
                                font-weight: bold;
                                background-color: $lightOrangePerigea;
                                border-radius: 100%;
                            }
                        }

                        .fc-day-sat {
                            .fc-daygrid-day-number {
                                padding: 5%;
                                font-weight: bold;
                                color: red;
                            }
                        }

                        .fc-day-sun {
                            .fc-daygrid-day-number {
                                padding: 5%;
                                font-weight: bold;
                                color: red;
                            }
                        }

                        * {
                            text-decoration: none;
                        }

                        td {
                            border: 1px solid #333333;
                        }

                        .fc-daygrid-day-frame {
                            cursor: pointer;

                            .fc-event-F {
                                background-color: $orangePerigea;
                                border: 1px solid $greyPerigea;
                                color: black;
                                font-weight: bolder;

                                .fc-event-main {
                                    color: $greyPerigea;
                                    font-size: 90%;
                                }
                            }

                            .fc-event-S {
                                background-color: $lightGreyPerigea;
                                border: 1px solid $greyPerigea;
                                color: white;
                                font-weight: bolder;


                            }

                            .fc-daygrid-day-number {
                                padding: 5%;
                                font-weight: bold;
                            }
                        }

                        .fc-daygrid-day-frame:hover {
                            background-color: $whitePerigea;

                            .fc-daygrid-day-number {
                                padding: 5%;
                                font-weight: bold;
                            }


                        }

                        table {
                            width: 100.1%;
                            margin-left: -0.1%;

                            thead {
                                border: 1px solid #333333;
                                background-color: #333333;
                                padding: 1%;
                                color: white;
                                text-transform: uppercase;
                                text-decoration: none;

                            }

                            tbody {
                                border: 1px solid #333333;
                            }
                        }


                        .fc-toolbar.fc-header-toolbar {
                            border: 1px solid $greyPerigea;
                            padding: 2%;
                            border-top-right-radius: 10px;
                            background-color: $orangePerigea;
                            display: flex;
                            width: 100.1%;
                            margin-left: -0.1%;
                            justify-content: space-around;
                            align-items: center;
                            margin-bottom: 0%;

                            .fc-today-button {
                                background-color: #333333;
                                border-color: transparent;
                                font-weight: bold;
                                color: $orangePerigea;
                                border-radius: 20%;
                                font-size: 100%;
                                border: 1px solid $orangePerigea;
                            }

                            .fc-prev-button {
                                background-color: #333333;
                                border-color: transparent;
                                font-weight: bold;
                                color: $orangePerigea;
                                border-top-left-radius: 20%;
                                border-bottom-left-radius: 20%;
                                font-size: 100%;
                                border: 1px solid $orangePerigea;
                            }

                            .fc-prev-button:hover {
                                background-color: $lightGreyPerigea;
                                color: #333333;
                            }

                            .fc-next-button {
                                background-color: #333333;
                                border-color: transparent;
                                font-weight: bold;
                                color: $orangePerigea;
                                border-top-right-radius: 20%;
                                border-bottom-right-radius: 20%;
                                font-size: 100%;
                                border: 1px solid $orangePerigea;
                            }

                            .fc-next-button:hover {
                                background-color: $lightGreyPerigea;
                                color: #333333;
                            }



                            .fc-toolbar-title {
                                text-transform: uppercase;
                                font-weight: bold;
                                margin-left: 0;
                            }
                        }

                    }
                }
            }
        }
    }
}