.path {
  width: 100px;
  height: 57.4px;
  float: right;
  line-height: 20px;
  margin-right: 0.2%;
}

.path-text {
  color: rgb(236, 233, 233);
  padding: 0 auto;
  margin-top: 17px;
}

.position {
  width: 100px;
  height: 57.4px;
  float: left; 
  margin-left: 0.2%;
  line-height: 50px;
}

.position-text {
  width: 100px;
  height: 57.4px;
  color: rgb(231, 225, 225);
  padding:0 auto;
  margin-left: 10px;
  margin-top: 3px;
}