//colors
$greyPerigea: #333333;
$lightGreyPerigea: #939294;
$whitePerigea: #eae8e8;
$orangePerigea: #f1b126;
$lightOrangePerigea: #f5be48;
$redPerigea: #dd4125;
// $menuColor: #9e2880;
$menuColor: #e8aa22;

//background
$backgroundPerigea: "../../assets/images/SfondoLogin.jpg";

//logo
$logoPerigea: "./images/scrittaPerigea.png";