//colors
$greyPerigea: #77747c;
$lightGreyPerigea: #9e9aa3;
$whitePerigea: #d8dbdb;
$orangePerigea: #f1b126;
$lightOrangePerigea: #cf9a06;
$redPerigea: #dd4125;
$menuColor: #a75d94;

//background
$backgroundPerigea: "./images/SfondoLogin.jpg";

//logo
$logoPerigea: "./images/scrittaPerigea.png";